header {
    height:90px;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
img {
    width:100%;
}
h1 {
    color:white;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div {
  height:100%;
  position: relative;
  text-align: center;
  color: white;
}